.border-700 {
  border-bottom: 1px solid #334155;
}

.border-200 {
  border-bottom: 1px solid #e2e8f0;
}

.contentToHide {
  display: none; /* Hidden by default */
}
.showContent .contentToHide {
  display: inline; /* Display inline when the switch is ON */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745; /* Bootstrap success color */
}

.nav-link:hover{
  color: #42BA96 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #42BA96!important;
}
  
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; 
}