.no-select {
  user-select: none;
}

.table-rounded {
  border-radius: 10px;
  overflow: hidden;
}

.border-custom {
  border: 2px solid #e2e8f0;
}

.bg-yellow-50{
  background-color: #fff7ed;
}

.bg-purple-50{
  background-color: #faf5ff;
}

.bg-blue-50{
  background-color: #eff6ff;
}

.bg-green-50{
  background-color: #f0fdf4;
}

.border-700 {
  border-bottom: 1px solid #334155;
}

.border-200 {
  border-bottom: 1px solid #e2e8f0;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745; /* Bootstrap success color */
}

.nav-link:hover{
  color: #42BA96 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #42BA96!important;
}
  
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; 
}

.logo {
  filter: grayscale(100%) contrast(10%) sepia(60%) invert(100%);
  /* Adjust the percentage in grayscale() for intensity of grayscale */
  transition: filter 0.3s ease; /* Adding transition for smooth effect */
  opacity: 0.6; /* Adjust the value from 0 to 1 for different levels of transparency */
}

.logo:hover {
  filter: none; /* Remove the grayscale filter on hover */
  opacity: 1;
}

.custom-opacity {
  opacity: 0.5; /* Adjust the value from 0 to 1 for different opacity levels */
}

.custom-opacity-title {
  opacity: 0.8; /* Adjust the value from 0 to 1 for different opacity levels */
}

.bottom-left-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.card-img-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
}

.custom-rounded {
  border-radius: 1rem 1rem 1rem 1rem; /* Custom corner rounding */
  overflow: hidden; /* Ensure the image doesn't overflow rounded corner */
}

.custom-rounded-testimonial {
  border-radius: 1rem; /* Custom corner rounding */
}

.custom-rounded-testimonial a {
  border-radius: 1rem 0rem 0rem 1rem; /* Custom corner rounding */
  overflow: hidden;
}

/* Custom CSS for navbar link hover color */
.navbar-nav .nav-item .nav-link:hover {
  color: #CBEAE0 !important;
}

/* Custom CSS for "Sign in" link hover color */
.text-center.ml-auto .btn.btn-sm.btn-link.text-white:hover {
  color: #CBEAE0 !important;
}

/* Custom CSS for "Install Sheets Add-ons" link text color on hover */
.navbar-btn.btn.btn-pill.btn-sm.btn-outline-white.text-white.lift.ml-auto:hover {
  color: #389E7F !important;
}

/* Custom CSS for text color on medium-sized screens (tablets) */
@media (max-width: 991.98px) {
  .text-md-gray {
    color: #506690 !important; /* Your desired text color for medium-sized screens */
  }
}

